<strong>Olá {{student}}</strong>
<p>
  Seu pedido de auxílio acaba de ser respondido.<br />
  Veja abaixo a resposta:
</p>
<small>
  <b>Pergunta:</b> {{question}}<br />
  <b>Resposta:</b> {{answer}}<br />
  <b>Data da resposta:</b> {{answerAt}}<br />
</small>
